* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.message img {
    width: 50px;
    height: 50px;
}

.message.user img {
    order: 1;
}

.chat-container {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

.chat-window {
    overflow-y: auto;
    max-height: 80vh;
}

.chat-input-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;

}

input[type=text] {
    flex-grow: 1;
    margin-right: 10px;
    width: 100%;
}

.input-and-buttons-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.message {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.message.system {
    justify-content: flex-start;
    text-align: left;
    overflow-wrap: break-word;
}

.message.user {
    align-self: flex-end;
    text-align: right;
    justify-content: flex-end;
}

.chat-message {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    overflow-wrap: break-word;
}

.chat-message.system {
    align-self: flex-start;
    background-color: #8f8ee4;
    color: white;
}

.chat-message.user {
    align-self: flex-end;
    background-color: #ffbd43;
    color: white;
    justify-content: flex-end;
}

.chat-message-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-message-time {
    align-self: flex-end;
    font-size: 0.8em;
    color: white;
}

.chat-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.message img.medicine-img {
    max-width: 100%;
    height: auto;
    position: relative;
    right: 0;
    bottom: 0;
}

.button-base {
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


.button-base.purple-button {
    background-color: #3a7bd5;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    width: 100%;
}

.button-base.purple-button:hover {
    background-color: #6b9ce8;
    /* Lighter Blue */
    color: white;
}

.button-base.purple-button:active {
    background-color: #2b27cc;
    /* Darker Blue */
    border-color: #2b27cc;
}

.button-base.orange-button {
    background-color: #ffb730;
    border: 1px solid #ffbd43;
}

.button-base.orange-button:hover {
    background-color: #e5a536;
    border-color: #e5a536;
}

.button-base.orange-button:active {
    background-color: #cc8e29;
    border-color: #cc8e29;
}