{% extends "layout.html" %}

{% block title %}
Diagnóstico
{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
        {% if patient %}
        <div class="patient-data">
            <h2>Datos del paciente para diagnóstico</h2>
            <table>
                <tr>
                    <td><b>DNI:</b></td>
                    <td>{{ patient.dni }}</td>
                </tr>
                <tr>
                    <td><b>Nombre:</b></td>
                    <td>{{ patient.name }}</td>
                </tr>
                <tr>
                    <td><b>Apellidos:</b></td>
                    <td>{{ patient.surnames }}</td>
                </tr>
                <tr>
                    <td><b>Edad:</b></td>
                    <td>{{ patient.age }}</td>
                </tr>
                <tr>
                    <td><b>Sexo:</b></td>
                    <td>{{ 'Masculino' if patient.sex == 'SEX_M' else 'Femenino' }}</td>
                </tr>
            </table>
        </div>
        <div id="symptoms" style="height: 400px; overflow-y: scroll;"></div>
        <div id="diagnosis-result"></div>
        {% else %}
        <p>No se pudo obtener la información del paciente. Por favor, vuelve a intentarlo.</p>
        {% endif %}
    </div>
</div>

<script>
    const symptomsDiv = document.getElementById('symptoms');
    const diagnosisDiv = document.getElementById('diagnosis-result');

    // Carga los síntomas del paciente
    let patientSymptoms = {{ patient.symptoms | tojson }};
    fetch('/diagnosis/symptoms')
    .then(response => response.json())
    .then(symptoms => {
        symptoms.sort((a, b) => a.localeCompare(b));
        symptoms.forEach(symptom => {
            const button = document.createElement('button');
            button.innerText = symptom;
            button.onclick = function() {
                if (confirm(`Añadir síntoma: ${symptom}`)) {
                    patientSymptoms.push({"name": symptom, "degree": 1});
                    getDiagnosis();
                }
            }
            symptomsDiv.appendChild(button);
        });
    });

    function getDiagnosis() {
    const patientData = {
        "sex": "SEX_{{ patient.sex }}",
        "age": {{ patient.age }},
        "symptoms": patientSymptoms
    };
    fetch('/diagnosis/get_diagnosis', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(patientData)
    })
    .then(response => response.json())
    .then(data => {
        diagnosisDiv.innerHTML = `<p>Resultado del diagnóstico: ${data}</p>`;
    });
}

</script>
{% endblock %}
