{% extends "layout.html" %}

{% block title %}
Paciente
{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
        <form method="post">
            <label for="dni">Introduce tu DNI:</label>
            <input type="text" id="dni" name="dni" required>
            <input type="submit" value="Obtener información del paciente" class="small-button">
        </form>
        {% if patient %}
        <div class="patient-data">
            <table>
                <tr>
                    <td><b>Nombre:</b></td>
                    <td>{{ patient.name }}</td>
                </tr>
                <tr>
                    <td><b>Apellidos:</b></td>
                    <td>{{ patient.surnames }}</td>
                </tr>
                <tr>
                    <td><b>Edad:</b></td>
                    <td>{{ patient.age }}</td>
                </tr>
                <tr>
                    <td><b>Sexo:</b></td>
                    <td>{{ patient.sex }}</td>
                </tr>
                <tr>
                    <td><b>Síntomas:</b></td>
                    <td>{% if patient.symptoms|length == 0 %}--{% else %}{% for symptom in patient.symptoms %}
                        <a href="javascript:void(0);" onclick='showSymptomInfo({{ symptom | tojson | safe }})'>
                            {{ symptom.name }} <i>(Más información)</i>
                        </a><br>
                        {% if not loop.last %}{% endif %}{% endfor %}
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <td><b>Enfermedades:</b></td>
                    <td>{% if patient.diseases|length == 0 %}--{% else %}{% for disease in patient.diseases %}
                        {{ disease.name }} (Hace {{ disease.time }} años)<br>{% if not loop.last %}{% endif %}{% endfor
                        %}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="column">
        {% if patient %}
        <div class="patient-actions">
            <!-- <a href="/cita" class="small-button">Pedir cita</a>
            <a href="/diagnosticos" class="small-button">Ver antiguos diagnósticos</a>
            <a href="/diagnosis/{{ patient.dni }}" class="gold-button">Nuevo diagnóstico</a> -->
            <button onclick="goToDiagnosis('{{ patient.dni }}')" class="gold-button">Nuevo diagnóstico</button>
            <button onclick="goToDiagnosis('{{ patient.dni }}')" class="small-button">Ver antiguos diagnósticos</button>
            <button onclick="goToDiagnosis('{{ patient.dni }}')" class="small-button">Pedir cita</button>


        </div>
        {% endif %}
    </div>
</div>

<script>
    function showSymptomInfo(symptom) {
        var info = "Nombre: " + symptom.name + "\n" + "Pregunta: " + symptom.question;
        alert(info);
    }
</script>

<script>
    function goToDiagnosis(dni) {
        window.location.href = '/diagnosis/' + dni;
    }
</script>



{% endblock %}