<!-- patient.html -->
{% extends "layout.html" %}

{% block title %}
Paciente
{% endblock %}

{% block content %}
<form method="post">
    <label for="dni">Introduce tu DNI:</label>
    <input type="text" id="dni" name="dni" required>
    <input type="submit" value="Obtener información del paciente">
</form>

<div class="content">
    {% if patient %}
    <div class="patient-data">
        <h2>Datos del paciente:</h2>
        <p>Nombre: {{ patient.name }}</p>
        <p>Apellidos: {{ patient.surnames }}</p>
        <p>Edad: {{ patient.age }}</p>
        <p>Sexo: {{ patient.sex }}</p>
    </div>
    <div class="patient-actions">
        <button onclick="location.href='/cita'">Pedir cita</button>
        <button onclick="location.href='/diagnosticos'">Ver antiguos diagnósticos</button>
        <button onclick="location.href='/nuevo-diagnostico'" style="background-color: gold;">Nuevo diagnóstico</button>
    </div>
    {% elif error %}
    <div class="error-message">
        <p>{{ error }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}