<!DOCTYPE html>
<html>
<head>
    <title>Fast Diagnosis System</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <header>
        <img src="/static/images/logo.png" alt="Logo">
        <h1>Fast Diagnosis System</h1>
        <p>Sistema de Diagnóstico Rápido</p>
    </header>
    <main>
        <button class="portal-button">Soy paciente</button>
        <button class="portal-button">Soy médico</button>
        <button class="portal-button">Mantenimiento</button>
    </main>
</body>
</html>
